---
import SocialList from "@/components/SocialList.tsx";

interface Props {
	title: string;
	homeStatement?: string;
	showSocial?: boolean;
	animate?: boolean;
	className?: string;
	isHome?: boolean;
}

const {
	title,
	homeStatement,
	showSocial = true,
	animate = false,
	className = "",
	isHome = false,
} = Astro.props;

const baseClasses = "mt-6 sm:mt-16 ";
const titleClasses = "font-serif text-xl font-medium sm:text-2xl text-accent-foreground";
const homeStatementClasses = "site-home-content font-fun text-2xl sm:text-2xl";
---

<div class:list={[baseClasses, className]}>
	<div class="flex flex-col space-y-1">
		<span
			class:list={[{ "animate-slideIn opacity-0": animate }]}
			style={animate ? "--slideIn-delay: 100ms" : ""}
		>
			<h1 class={titleClasses}>
				{title}
			</h1>
		</span>

		{
			isHome && (
				<span
					class:list={["", { "animate-slideIn opacity-0": animate }]}
					style={animate ? "--slideIn-delay: 150ms" : ""}
				>
					<span class={`${homeStatementClasses} "mb-2"`}>{homeStatement}</span>
				</span>
			)
		}

		{
			animate ? (
				<span
					class:list={["", { "animate-slideIn opacity-0": animate }]}
					style={animate ? "--slideIn-delay: 200ms" : ""}
				>
					<slot name="description-animate" />
				</span>
			) : (
				<span>
					<slot name="description" />
				</span>
			)
		}
		{
			showSocial && (
				<div
					class:list={["mt-0 w-fit", { "animate-slideIn opacity-0": animate }]}
					style={animate ? "--slideIn-delay: 50ms" : ""}
				>
					<SocialList />
				</div>
			)
		}
	</div>
</div>
