---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="h-px w-full bg-neutral-200 dark:bg-zinc-700"></div>
<div class="my-8 flex w-full flex-col sm:flex-row">
	<div class="font-source-serif mb-4 w-full text-xl font-medium sm:mb-0 sm:w-32 sm:flex-shrink-0">
		<span class="sm:pl-1">{title}</span>
	</div>
	<div class="w-full">
		<slot />
	</div>
</div>
