---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Oops! It looks like this page is lost in space!",
  title: "404",
  type: "404"
};
---

<PageLayout meta={meta}>
  <h1 class="mt-16 title mb-6">404 | No such page</h1>
</PageLayout>

