---
// import { Image } from "astro:assets";
// import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Oops! It looks like this page is lost in space!",
  title: "404",
  type: "404"
};
---

<PageLayout meta={meta}>
  <h1 class="mt-16 title mb-6">404 | No such page</h1>
  <!-- <p class="mb-8">Please go <code>~</code></p> -->
  <!-- <div class="my-4 grid justify-center"> -->
    <!-- <Image -->
    <!-- 	alt="A cartoon cactus looking at the 'Astro.build' logo" -->
    <!-- 	class="rotate-180" -->
    <!-- 	loading="eager" -->
    <!-- 	src={aboutImg} -->
    <!-- /> -->
  <!-- </div> -->
</PageLayout>

<!-- <MainLayout data-animate data-animate-speed="slow" class="font-serif"> -->
<!--   <BaseHeader title="404"> -->
<!--     <p class="text-sm text-second">{t('404.desc')}</p> -->
<!--   </BaseHeader> -->
<!--   <section class="my-14"> -->
<!--     <a href={p('/')} class="link">cd ..</a> -->
<!--   </section> -->
<!-- </MainLayout> -->
