---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "About",
  title: "About",
  type: "about"
};
---
<PageLayout meta={meta}>
  <div class="leading-relaxed mt-16 space-y-6 mb-16">
    <h1 class="text-xl title">About</h1>
    <p>
      Under Construction
    </p>
    <p></p>
  </div>
</PageLayout>
