---
import SocialList from "@/components/SocialList.astro";
// import PostPreview from "@/components/blog/PostPreview.astro";
// import { getAllPosts } from "@/data/post";
// import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { fade } from "astro:transitions";

// const MAX_POSTS = 10;
// const allPosts = await getAllPosts();
// const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Ian Park", type: "home" }}>
  <section id="title-font" class="font-light mt-24 sm:mt-16">
    <div class="mb-2 sm:mb-2">
      <div>
        <div class="mb-2 sm:mb-0.5 animate-slideiny opacity-0 [--slideiny-delay:50ms] text-textColorFaded text-2xl sm:text-2xl">Ian Park</div>
        <p class="mb-2 sm:mb-0.5 animate-slideiny opacity-0 [--slideiny-delay:200ms] text-3xl sm:text-3xl">
          Shaping ideas into code, with every keystroke a rhythm of thought. Guided by Emacs, driven by curiosity.
        </p>
        <div class="animate-slideiny opacity-0 [--slideiny-delay:300ms]">
          <div class="font-sans text-xl sm:text-lg text-textColorFaded">
            <span>A hub for my </span>
            <span class="transition text-textColorMoreFaded sm:dark:hover:bg-neutral-800 sm:dark:hover:text-neutral-200 sm:hover:bg-neutral-100 sm:hover:over:text-neutral-400 rounded-md pl-1 px-1 py-1 -ml-1 -mr-1">
              <a
                class="inline-flex items-center grayscale hover:filter-none"
                href="/posts">
                Writings
              </a>
            </span>
            <span class="-ml-1">,</span>
            <span class="transition text-textColorMoreFaded sm:dark:hover:bg-neutral-800 sm:dark:hover:text-neutral-200 sm:hover:bg-neutral-100 sm:hover:text-neutral-400 rounded-md pl-1 px-1 py-1 -ml-1 -mr-1">
              <a
                class="inline-flex items-center grayscale hover:filter-none"
                href="/about">
                Work
              </a>
            </span>
            <span class="-ml-1">, and</span>
            <span class="transition text-textColorMoreFaded sm:dark:hover:bg-neutral-800 sm:dark:hover:text-neutral-200 sm:hover:bg-neutral-100 sm:hover:text-neutral-400 rounded-md pl-1 px-1 py-1 -ml-1 -mr-1">
              <a
                class="inline-flex items-center grayscale hover:filter-none"
                href="/about">
                Inspirations
              </a>
            </span>
            <span class="-ml-1">.</span>
          </div>
        </div>
      </div>
    </div>
    <SocialList class="animate-slideiny opacity-0 [--slideiny-delay:300ms]" />
  </section>
</PageLayout>

<style>
#title-font {
  font-family: "Alice", serif;
}
</style>
