---
import type { MarkdownHeading } from "astro";
import { generateToc } from "src/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const toc = generateToc(headings);
---

<aside class="fixed font-medium top-60 hidden right-8 2xl:block min-[1680px]:right-14 m-auto order-2 -me-0 basis-64">
  <div>
	<ul class="mt-4 max-w-56">
		{toc.map((heading, i) => <TOCHeading heading={heading} index={i} />)}
	</ul>
    </div>
</aside>
