---
 import type { TocItem } from "@/utils/generateToc";
 interface Props {
   heading: TocItem;
 }

 const {
   heading: { children, depth, slug, text },
   index
 } = Astro.props;
---
  <!-- style={{"--delay": (index + 1) * 20 + "ms"}}> -->
 <!--   { -->
 <!-- !!children.length && ( -->
 <!--   <ul> -->
 <!--     {children.map((subheading, i) => ( -->
 <!--       <div -->
 <!--         class="animate-slideIn opacity-0" -->
 <!--         style={{"--delay": (index + 1) * i * 20 + "ms"}} -->
 <!--       > -->
 <!-- 	<Astro.self heading={subheading} /> -->
 <!--       </div> -->
 <!--     ))} -->
 <!--   </ul> -->
 <!-- ) -->
 <!-- } -->

<li class="ms-2 animate-slideIn opacity-0"
  style={{"--delay": (index + 1) * 40 + "ms"}}
>
  <a
    aria-label={`Scroll to section: ${text}`}
    class="underline-offset-4 decoration-1 break-word decoration-neutral-300 text-sm underline block line-clamp-2 hover:text-accent mt-3"
    href={`#${slug}`}>{text}
  </a>

</li>
