---
// import type { TocItem } from "@/utils/generateToc";
// interface Props {
//   heading: TocItem;
// }
//
// const {
//   heading: { children, depth, slug, text },
//   index
// } = Astro.props;
//  <!-- style={{"--delay": (index + 1) * 20 + "ms"}}> -->
//   {
// !!children.length && (
//   <ul>
//     {children.map((subheading, i) => (
//       <div
//         class="animate-slideIn opacity-0"
//         style={{"--delay": (index + 1) * i * 20 + "ms"}}
//       >
// 	<Astro.self heading={subheading} />
//       </div>
//     ))}
//   </ul>
// )
// }
---

<!-- <li class={`${depth > 2 ? "ms-2" : "" } animate-slideIn opacity-0`} -->
<!--   style={{"--delay": (index + 1) * 40 + "ms"}} -->
<!-- > -->
<!--   <a -->
<!--     aria-label={`Scroll to section: ${text}`} -->
<!--     class={`block line-clamp-2 hover:text-accent ${depth <= 2 ? "mt-3" : "mt-2 text-[0.6875rem]"}`} -->
<!--     href={`#${slug}`}><span class="me-0.5">#</span>{text}</a -->
<!--     > -->

<!-- </li> -->
